.quarto/
_site/

/.quarto/
.jupyter_cache/
slides_files/
.envrc.local

# Cache of LLM calls
.*_cache/
dist/*
minidev*
__MACOS*
# Debugging (pre langchain)
messages.json
ipynb/*
*.aux
_quarto_internal_scss_error.scss
slides.quarto_ipynb
TODO.md
slides.tex
# non HTML exports
exports/*
TODO.*


/.luarc.json
