/*-- scss:defaults --*/



/*-- scss:rules --*/


.reveal .slide .background-dark {
  width: 50% ;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.reveal .slide .center-xy {
  
  // position: absolute;
  display: block;
  margin-left: 50%;
  margin-right: 50%;
  width: 50%;
  
}

.reveal .slide figure svg {
  width: 100%;
}

.small_text .column p {
  font-size: 30px;
}

.column .small_text {
  font-size: 30px;
}

.test {
  font-size: 1em;
}

.dataframe {

  font-size: 20px
}
